#section3 {
    background-color: #f5f5f5;
    height: 1500px;
    padding-top: 40px;
}

/* leftpanel */
.nav-icon {
    background-image: url("../images/nav-icon.png");
    display: inline-block;
}
.nav-icon01 {
    height: 17px;
    width: 17px;
    background-position: -90px 0;
}
.panel-title  a:hover .nav-icon01,
.panel-title.active .nav-icon01 {
    background-position: -90px -19px;
}
.nav-icon02 {
    height: 19px;
    width: 18px;
    background-position: -72px 0;
}
.panel-title  a:hover .nav-icon02,
.panel-title a[aria-expanded="true"] .nav-icon02 {
    background-position: -72px -19px;
}
.nav-icon03 {
    height: 17px;
    width: 16px;
    background-position: 0 0;
}
.panel-title  a:hover .nav-icon03,
.panel-title a[aria-expanded="true"] .nav-icon03 {
    background-position: 0 -18px;
}
.nav-icon04 {
    height: 19px;
    width: 18px;
    background-position: -17px 0;
}
.panel-title  a:hover .nav-icon04,
.panel-title a[aria-expanded="true"] .nav-icon04 {
    background-position: -17px -16px;
}
.nav-icon05 {
    height: 18px;
    width: 17px;
    background-position: -37px 0;
}
.panel-title  a:hover .nav-icon05,
.panel-title a[aria-expanded="true"] .nav-icon05 {
    background-position: -37px -18px;
}
.nav-icon06 {
    height: 18px;
    width: 16px;
    background-position: -55px 0;
}
.panel-title  a:hover .nav-icon06,
.panel-title a[aria-expanded="true"] .nav-icon06 {
    background-position: -55px -18px;
}


.leftpanel {
    float: left;
}
.leftpanel .panel-group {
    width: 218px;
    margin-bottom: 15px;
}
.leftpanel .panel-heading {
    padding: 0;
    margin-right: 0;
    height: 60px;
    text-align: center;
}
.leftpanel .panel-heading .panel-title {
    margin-top: 0;
}
.leftpanel .panel-heading h4 a {
    display: block;
    height: 60px;
    width: 218px;
    padding-top: 20px;
}
.leftpanel .panel-heading h4 a:link{
  text-decoration: none;
}
.leftpanel .panel-heading h4 a:visited{
    text-decoration: none;
}
.leftpanel .panel-heading h4 a:hover{
    text-decoration: none;
    background-color: #01D1A5;
    color: #fff;
}
.leftpanel .panel-heading h4 a:active{
    text-decoration: none;
    background-color: #01D1A5;
    color: #fff;
}
.leftpanel .panel-heading h4.active {
    color: #fff;
    background-color: #01D1A5;
}
.leftpanel .panel-heading h4 a[aria-expanded="true"]{
    text-decoration: none;
    background-color: #01D1A5;
    color: #fff;
}
.leftpanel .list-group-item {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    border: none;
    height: 60px;
    font-size: 18px;
}
.leftpanel .list-group-item.active,
.leftpanel .list-group-item.active:focus,
.leftpanel .list-group-item.active:hover {
    background-color: #fff;
}
.leftpanel .list-group-item.active a {
    color: #01D1A5;
    background-color: #fff;
}
.leftpanel .list-group-item a {
    line-height: 40px;
}
.leftpanel .panel-title {
    margin-top: 12px;
}
.leftpanel .panel-title a {
    font-size: 18px;
}

/* rightpanel*/
.rightpanel {
    float: left;
    margin-left: 20px;
    width: 902px;
}

.panel {
    border: none;
}
.panel-heading {
    height: 60px;
    border-bottom: solid 1px #f3f3f3;
}
.glyphicon-question-sign {
    font-size: 13px;
    color: #01D1A5;
}

/* Tooltip */
.tooltip > .tooltip-inner {
    padding: 8px 10px;
    background-color: #d5faf2;
    color: #00ab87;
    font-size: 12px;
    text-align: left;
    max-width: 400px;
}
.tooltip.left> .tooltip-arrow {
    border-left: 5px solid #d5faf2;
}
.tooltip.right > .tooltip-arrow {
    border-right: 5px solid #d5faf2;
}
.tooltip.top> .tooltip-arrow {
    border-top: 5px solid #d5faf2;
}
.tooltip.bottom> .tooltip-arrow {
    border-bottom: 5px solid #d5faf2;
}

/* 链接 */
ul li a:link {
    color: #000;
    text-decoration: none;
}
ul li a:visited  {
    color: #000;
    text-decoration: none;
}
ul li a:hover  {
    color: #01D1A5;
    text-decoration: none;
}
ul li a:active {
    color: #01D1A5;
    text-decoration: none;
}

/* 装饰元素 */
.colorgreen {
    color: #02d2a6;
}
.colororange {
    color: #ff6800;
}
.colorgray {
    color: #999999;
}
.font-size-sm {
    font-size: 11px;
}
.colorblack {
    color: #000000;
}

/* 表格 */
.tablebody {
    padding-left: 0;
    padding-right: 0;
}
.table>tbody>tr>td,
.table>tbody>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    border: none;
    text-align: center;
    height: 50px;
    vertical-align: middle;
}

/* 分页 */
.pagination{
    margin: 0 30px;
    float: right;
}
.pagination>li>a,
.pagination>li>span {
    border: none;
    color: #999;
    padding: 6px;
}
.pagination>li>a:hover,
.pagination>li>span:hover {
    color: #01D1A5;
    background-color: #fff;
}
.pagination>li>a:active,
.pagination>li>span:active {
    color: #01D1A5;
    background-color: #fff;
}